<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lightricks.mightyrecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".linear.LinearLayoutActivity"
            android:label="@string/linear_layout_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".grid.GridLayoutActivity"
            android:label="@string/grid_layout_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".staggered.StaggeredGridActivity"
            android:label="@string/staggered_grid_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".snap.SnapHelperActivity"
            android:label="@string/snap_helper_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".drag.ItemTouchHelperActivity"
            android:label="@string/item_touch_helper_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".decoration.ItemDecorationActivity"
            android:label="@string/item_decoration_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".types.ViewTypesActivity"
            android:label="@string/view_types_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".animator.ItemAnimatorActivity"
            android:label="@string/item_animator_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".payload.PartialBindActivity"
            android:label="@string/partial_bind_label"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".nested.NestedScrollActivity"
            android:label="@string/nested_scrolling_label"
            android:parentActivityName=".home.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>